<div id="interpolated_mode" class="row nav-content">
    <div class="col-6">
        <div class="port-container">
            <h5>Move Interpolated</h5>
            <form class="form">
                <div class="inline-form">
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">X Position</label>
                            <input name="x" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Y Position</label>
                            <input name="y" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Speed</label>
                            <input name="speed" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <button type="submit" data-value="interpolated_move" class="btn btn-primary submit-button">Move</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="port-container">
            <h5>Touch Interpolated</h5>
            <form>
                <div class="inline-form">
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">X Position</label>
                            <input name="x" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Y Position</label>
                            <input name="y" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Velocity</label>
                            <input name="velocity" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Duration</label>
                            <input name="duration" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Back Pos(mm)</label>
                            <input name="back_pos" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <div class="form-inline-margin">
                        <div class="form-inline">
                            <label class="point-label">Force(Gm)</label>
                            <input name="force" type="text" class="form-control point-input" required>
                        </div>
                    </div>
                    <button type="submit" data-value="interpolated_tap" class="btn btn-primary submit-button">Tap</button>
                </div>
            </form>
        </div>
    </div>
</div>