<div id="power_control" class="row nav-content">
    <div class="col-6">
        <div class="port-container">
            <div class="form-inline">
                <label class="inline-label">5 volt power out</label>
                <input class="toggle-switch input_switch" data-action="five_volt_power" type="checkbox" checked data-toggle="toggle" data-onstyle="success">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container">
            <div class="form-inline">
                <label class="inline-label">2 volt power out</label>
                <input class="toggle-switch input_switch" data-action="two_volt_power" class="" type="checkbox" checked data-toggle="toggle" data-onstyle="success">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.toggle-switch').bootstrapToggle();
    })
</script>