.dashboard {
  overflow: auto;
  background: aliceblue;
  min-height: 100vh;
}
.ide {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}
.config-container {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}

.code, .spec {
  margin-top: 0px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  background: floralwhite;
}
.code textarea, .spec textarea {
  min-height: 200px;
}
.result {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 6px; 
  min-height: 50px;
  padding: 20px;
  margin-bottom: 30px;
  background: floralwhite;
}
.result-line {
  margin-bottom: 6px;
}
.default-content {
  padding: 16px;
  overflow: auto;
  background: #cdcfd1;
  min-height: 100vh;
}
.code-tab, .spec-tab {
  display: inline-block;
  margin: -1px 20px;
  padding: 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right:  1px solid black;
  border-radius: 5px 5px 0px 0px;
}
.code-tab:hover, .spec-tab:hover {
  cursor: pointer;
}
.active {
  color: #221212;
  background: floralwhite;
}
.code textarea, .spec textarea {
  border: 1px solid black;
}
.test-list {
  padding: 16px;
  background-color: white;
}
.test-list .test {
  border-bottom: 1px solid black;
}
.request-demo {
  padding: 8px 12px;
  margin: 12px;
  display: inline-block;
  background: blue;
  color: yellow;
  border-radius: 4px;
}
.demo-request {
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid black;
  height: 40px;
}
.request-list {
  background-color: white;
  padding: 16px;
  margin-bottom: 20px;
}