.nav-bar {
  background-color: black;
  display: block;
  height: 60px;
}
.nav-item {
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  margin: 4px;
  display: inline-block;
}
.nav-item:hover {
  background: white;
  color: black;
  text-decoration: none;
}