.nav-bar {
  background-color: black;
  display: block;
  height: 60px;
}
.nav-item {
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  margin: 4px;
  display: inline-block;
}
.nav-item:hover {
  background: white;
  color: black;
  text-decoration: none;
}
.home {
  width: 100%;
  padding-top: 17%; 
}
.home h1 {
  width: 70%;
  margin: auto;
  text-align: center;
}