.default-content
  .test-list  
    %h1
      Builds
    - current_user.tests.each do |test|
      .test
        = link_to "buld_#{test.id}", test_path(test)
    = link_to 'New Build', new_test_path, class: 'new-test'